<ion-tabs class="tabs-icon-top">
  <!-- My Tab -->
  <ion-tab title="Mis Gastos" icon="icon ion-log-in" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="Compañeros" icon="icon ion-log-out" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
  <!-- Account -->
  <ion-tab title="Cuenta" icon="icon ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
